@import url('https://fonts.googleapis.com/css?family=Montserrat'); 

h2{
  text-align: center;
  font-weight: bold;
  font-family: Montserrat;
  padding: 1em;
}

#voting {
  border: 2px solid gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .2em;
  background-color: rgba(240, 244, 249, .8);

  #yes {
    h3 {
      padding-bottom: 1em;
      border-bottom: 1px solid gray;
      text-align: center;
    }

    p {
      margin-top: 1em;
    }

    border: 2px solid gray;
    padding: 1em;
    margin: 0 .2em;
    max-width: 20em;
  }

  #no {
    h3 {
      padding-bottom: 1em;
      border-bottom: 1px solid gray;
      text-align: center;
    }

    p {
      margin-top: 1em;
    }

    border: 2px solid gray;
    padding: 1em;
    margin: 0 .2em;
    max-width: 20em;
  }

  #other {
    h3 {
      padding-bottom: 1em;
      border-bottom: 1px solid gray;
      text-align: center;
    }

    p {
      margin-top: 1em;
    }

    border: 2px solid gray;
    padding: 1em;
    margin: 0 .2em;
    max-width: 20em;
  }
}